# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
build/
dist/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/
.tox/
.nox/
Reference/
# Virtual environments
.venv/
venv/
ENV/
.env/

# uv
.uv/

# Node
node_modules/

# MkDocs
site/

# OS
.DS_Store
